@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(
            to bottom,
            transparent,
            rgb(var(--background-end-rgb))
        )
        rgb(var(--background-start-rgb));
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

@layer base {
    @font-face {
        font-family: "MPlusRegular";
        src: url(../../public/fonts/MPlusRegular.woff2) format("woff2");
    }
    @font-face {
        font-family: "MPlusMedium";
        font-weight: 900;
        src: url(../../public/fonts/MPlusMedium.woff2) format("woff2");
    }
    @font-face {
        font-family: "MPlusBold";
        src: url(../../public/fonts/MPlusBold.woff2) format("woff2");
    }
    @font-face {
        font-family: "MPlusExtraBold";
        src: url(../../public/fonts/MPlusExtraBold.woff2) format("woff2");
    }
    @font-face {
        font-family: "MPlusLight";
        src: url(../../public/fonts/MPlusLight.woff2) format("woff2");
    }
    @font-face {
        font-family: "MPlusThin";
        src: url(../../public/fonts/MPlusThin.woff2) format("woff2");
    }
}

.text-typing {
    white-space: nowrap;
    clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 0);
    animation:
        typing 1.5s steps(16, end) forwards,
        blink 1s 4;
}


@keyframes typing {
    0% {
        width: 0;
    }

    100% {
        width: 100%;
    }
}

@keyframes blink {
    0%,
    100% {
        border-right: 2px solid transparent;
    }

    50% {
        border-right: 2px solid #222;
    }
}

.project-link div:first-child {
    height: 100%;
}

.rotated-down {
    transform: rotate(270deg);
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.15s ease-in-out;
}

.rotated-up {
    transform: rotate(90deg);
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.15s ease-in-out;
}

.lan-button {
    animation: appear 0.1s linear;
}

@keyframes appear {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 50%;
    }
    100% {
        opacity: 100%;
    }
}

/* SIZES */


@media screen and (max-width: 640px) {
    .project-card-image {
        height: 100%;
    }
}

@media screen and (min-width: 641px) and (max-width: 999px) {
    .project-card-image {
        height: 200px;
    }
}


@media screen and (min-width: 1000px) {
    .project-card-image {
        height: 260px;
    }
}
