.error {
    color: white;
    background-color: red;
}

button.prev, button.next {
    position: absolute;
    top: 50%;
    transform: translateY(-10%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.sliderContainer.open {
    animation: slider-appear 0.3s forwards;
    -webkit-animation: slider-appear 0.3s forwards;
}

@keyframes slider-appear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.sliderContainer.close {
    animation: slider-disappear 0.3s forwards;
    -webkit-animation: slider-disappear 0.3s forwards;
}

@keyframes slider-disappear {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        display:none
    }
}
.slide.active.right {
    animation: slide-in-to-right 0.8s forwards;
    -webkit-animation: slide-in-to-right 0.8s forwards;
}

@keyframes slide-in-to-right {
    from {
        transform:  translateX(-200%) scale(0.1);
        opacity: 0;
        display:none;
    }
    to {
        transform:  translateX(0%) scale(1);
        opacity: 1;
        display: flex;
    }
}

.slide.active.left {
    animation: slide-in-to-left 0.8s forwards;
    -webkit-animation: slide-in-to-left 0.8s forwards;
}

@keyframes slide-in-to-left {
    from {
        transform:  translateX(200%) scale(0.1);
        opacity: 0;
        display:none;
    }
    to {
        transform:  translateX(0%) scale(1);
        opacity: 1;
        display:flex;
    }
}

.slide > div {
    display:flex;
    justify-content: center;
}

.slide.hid {
    opacity: 0;
}

.slide.hid.straight {
    transform: translate(200%);
    opacity: 0;
}

.slide.hid.right {
    animation: slide-out-to-right 0.7s forwards;
    -webkit-animation: slide-out-to-right .7s forwards;
}

@keyframes slide-out-to-right {
    from {
        opacity: 1;
        display: flex;
        transform: translateX(0%);
    }
    to {
        transform: scale(0.2) translateX(700%);
        opacity: 0;
        display: none;
    }
}

.slide.hid.left {
    animation: slide-out-to-left 0.7s forwards;
    -webkit-animation: slide-out-to-left .7s forwards;
}

@keyframes slide-out-to-left {
    from {
        opacity: 1;
        transform: translateX(0%);
        display: flex;
    }
    to {
        transform: scale(0.2) translateX(-700%);
        opacity: 0;
        display: none;
    }
}

